* {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

.bg {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  background-size: 100% 100%;

}

url,
.url {
  width: 700px;
  color: black;
  text-align: left;
}

#counters {

  text-align: left;
  color: greenyellow;
}

#videoPlayer {
  position: relative;
  left: 30%;
}


#displaySwearingText::after {
  content: "SWEARING";
  font-size: 2rem;
  /* display: block; */
  z-index: 1;
  position: relative;
  width: 100px;
  height: 100px;

  top: 100px;
  left: 0px;
  border: 20px solid greenyellow;
  animation-name: swearingTextAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@keyframes swearingTextAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}