* {
  color: white;
  text-align: center;
}

.bg {
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  background-size: 100% 100%;

}

url,
.url {
  width: 400px;
  color: black;
  text-align: left;
}