* {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

.bg {
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  background-size: 100% 100%;

}

url,
.url {
  width: 700px;
  color: black;
  text-align: left;
}

#counters {

  text-align: left;
  color: greenyellow;
}

#videoPlayer {

  position: relative;
  left: 30%;
}